
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}


#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}


h1, h2, h3, h4 {
    background-color: #000000;
    color: #fff8f6; 
    border: 1px solid #D6A800;
    padding: 10px;
}


a {
    color: #2074d3; 
    text-decoration: none;
}


a:hover {
    color: #2074d3; 
}


a:visited {
    color: #2074d3; 
}