/* 3 equal collumns */
#image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  margin-top: 10%; 
}

/* Style the main heading and apply blue */
h1 {
  text-align: center;
  color: rgba(0, 0, 255, 0.8); 
}

/* Center image block and put ligh blue */
h3 {
  text-align: center;
  color: rgba(30, 144, 255, 0.8); 
}

/* Center the pictures */
figure {
  text-align: center;
}

/* Style image captions */
figcaption {
  font-style: italic;
  font-size: 0.75em;
  color: rgba(70, 130, 180, 0.8); 
}